.general-message-wrap.divider-lg
    .clearfix
        %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
            = review.name
        .ml-70
            %div
                .general-message-date.hidden-xs= review.date_comment
                .max-240
                    - if review.verified_review?
                        .general-message-verified.pull-right= t('review_block.label_verify')
                    .general-message-name= review.title
            .mb-15
                - review.rating.times do
                    %i.fa.fa-star.rate-star
                - review.empty_stars.times do
                    %i.fa.fa-star.rate-star.rate-empty
            %p= review.comment
