%h3= t('review_block.write_a_review')
.row
    .col-md-8
    = simple_form_for(presenter_book.book.reviews.build, url: reviews_path, method: :post,
    defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } }) do |f|
        %p.general-info-text= t('review_block.score')
        .mb-15
            - for i in (ReviewForm::MIN_RATING..ReviewForm::MAX_RATING)
                %i.fa.fa-star.rate-empty{id: "rating_id_#{i}", "data-value":i}
        .col-md-8
            .mb-40
                = f.input :title, class: 'form-control',label: t('review_block.title')
                = f.input :comment,class: 'form-control', label: 'Review'
                = f.hidden_field :book_id, value: presenter_book.book.id
                = f.hidden_field :user_id, value: current_user.id
                = f.hidden_field :rating, value: 1, id: 'reviewRatingValue'
                = f.submit t('review_block.post'), class: 'text-right btn mb-20', id: 'saveReview'

