%main.container.general-main-wrap
  = render 'checkout/steps', current_step: @step

  .row.mb-20
    .col-sm-3.billing_info
      = render partial: 'checkout/confirm/address_info', locals: {type: 'billing', address: @checkout.billing_address,edit_flag: true}
    .col-sm-3.shipping_info
      = render partial: 'checkout/confirm/address_info', locals: {type: 'shipping', address: @checkout.shipping_address, edit_flag: true}
    .col-sm-3.delivery_info
      = render partial: 'checkout/confirm/delivery_info', locals: {delivery: @checkout.delivery, edit_flag: true}
    .col-sm-3.payment_info
      = render partial: 'checkout/confirm/payment_info', locals: {payment: @checkout.payment, edit_flag: true}

  = render partial: 'checkout/show/mobile_product_list', collection:  @checkout.presenter_items.items, as: :item
  .hidden-xs.divider-lg.pt-20
    %table.table.table-hover
      %thead
        %tr
          %th
            %span.in-grey-600= t('cart_block.product')
          %th.col-method
          %th
            %span.in-grey-600= t('cart_block.price')
          %th
            %span.in-grey-600= t('cart_block.quantity')
          %th
            %span.in-grey-600= t('cart_block.total_line')
      = render partial: 'checkout/show/product_list', collection:  @checkout.presenter_items.items, :as => :item

  .text-center.general-text-right
    = render partial: 'checkout/show/order_summary', locals: {presenter_items: @checkout.presenter_items}

  .text-center
    = button_to t('checkout.buttons.confirm_submit'), wizard_path, method: :put, class: 'btn btn-default mb-20'

