%main.container.mb-res-50
  = render 'checkout/steps', current_step:@steps

  %h3.general-subtitle= t('checkout.titles.payment')
  = simple_form_for(@checkout.current_order, url: wizard_path, method: :put,html:{class:'max-600 mb-80'}) do |f|
    = f.simple_fields_for :payment, @checkout.presenter.check_credit_card do |form|
      .form-group
        = form.hidden_field :user_id, value: @checkout.presenter.get_user_id
        = form.label :number,t('checkout.payment.number'), class: 'control-label input-label'
        = form.text_field :number, placeholder: t('checkout.payment.number'), class: 'form-control'
      %span.help-block=t('checkout.payment.span_number')

      .row
        .col-sm-6
          .form-group
            = form.label :card_name,t('checkout.payment.card_name'), class: 'control-label input-label'
            = form.text_field :card_name, placeholder: t('checkout.payment.card_name'), class: 'form-control'

        .col-sm-3
          .form-group
            = form.label  :expiration_date,t('checkout.payment.expiration_date'), class: 'control-label input-label'
            = form.text_field  :expiration_date, placeholder: t('checkout.payment.expiration_date'), class: 'form-control'

        .col-sm-3
          .form-group.relative
            = form.label :cvv, t('checkout.payment.cvv'), class: 'control-label input-label'
            = form.text_field :cvv, placeholder: t('checkout.payment.cvv'), class: 'form-control', required: true, type: 'password', maxlength: 4
            .hint_cvv
              %i.fa.fa-question-circle.general-form-help
                %span=t('checkout.payment.hint')
    .general-text-align
      = render partial: 'checkout/show/order_summary', locals: {presenter_items: @checkout.presenter_items}

    .text-center
      = f.submit t('checkout.buttons.payment_submit'), class: 'btn btn-default mb-20'
