.col-sm-5.col-sm-offset-1
    %p.in-gold-500.font-18.mb-25= t('form_settings.password_edit')
    = simple_form_for(current_user, url: user_path, method: :put, class: 'general-form-md divider-lg-bottom pb-25', defaults: { input_html: { class: "form-control" }}) do |f|
        .form-group.mb-30
            = f.input :current_password, placeholder: t('form_settings.password_old')
            = f.input :password, placeholder: t('form_settings.password_new')
            = f.input :password_confirmation, placeholder: t('form_settings.password_confirm')
        .general-text-align
            = f.button :submit, t('form_settings.email_button'), class: 'btn btn-default mb-35', id:'savePassword'
