.col-sm-6.col-md-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      = image_tag(book.medium_image, class: 'img-shadow general-thumbnail-img')
      .thumb-hover
        .general-thumb-link-wrap
          = link_to book_path(book), class: 'thumb-hover-link' do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          = link_to order_line_items_path(current_order,book_id: book, quantity: 1), method: :post, class: 'thumb-hover-link' do
            %i.fa.fa-shopping-cart.thumb-icon
  .mb-35
    .clearfix
      %p.pull-right.font-16.in-gold-500= book.price
      %p.title.mr-55= book.price
    %span.divider-sm
    %p.lead.small= book.authors_names
