%h3.general-subtitle=t('checkout.confirm.type.' + type)
%p.general-address
  = address.full_name
  - if edit_flag
    = link_to t('checkout.confirm.edit'), wizard_path(:address), class: 'general-edit'
  %br
  = address.address.address
  %br
  = address.city
  %br
  = address.country
  %br
  = address.phone
